<% provide(:title, "Contact") %>  <%# Rails should call the provide function and associate the string "Contact" with the label :title %>
<h1>Contact</h1>
<p>
    Contact the developers at the
    <a href="">page</a>
</p>
