<% provide(:title, "Help") %>   <%# Rails should call the provide function and associate the string "Help" with the label :title %>
<h1>Help</h1>
<p>This is the Help page</p>
<p>Find me in app/views/static_pages/help.html.erb</p>
