<% provide(:title, "Home") %>   <%# Rails should call the provide function and associate the string "Home" with the label :title %>
<div class="center jumbotron">
  <h1>Welcome to EduTech</h1>

  <h2>
    This is the home page for the EduTech website
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>   <%# creates a stub link of the form %>
</div>

<%= link_to image_tag("edutech.png", alt: "EduTech logo") %>  <%# app/assets/images %>
