<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">  <%# initial version of the user sidebar/content that complements the rest of the page but can also stand alone. %>
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>   <%# Gravatar is a free service that allows users to upload images and associate them with email addresses they control. They are a convenient way to include user profile images without going through the trouble of managing image upload, cropping, and storage; all that needs to be done is creating a proper Gravatar image URL using the user's email address and the corressponing Gravatar image will automatically appear %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>
