// Place all the styles related to the fillable_forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tinymceSubmit input{
  background-color: green;
  width: 8em;
  color: black;
  border-radius: 5%;
}
#tinymceSubmit:link{
  color: black;
  text-decoration: none;
}
.new-form-button{
  list-style: none;
}
.new-form-button a{
  background-color: blue;
  width: 9em;
  color: black;
  border-radius: 5%;
  color: white;
  text-decoration: none;
}
