<% provide(:title, "Fillable Form") %>   <%# Rails should call the provide function and associate the string "Help" with the label :title %>
<h1>Create a new form</h1>
  <%= form_for :post, url: new_form_path do |f| %>
    <% if @fillable_forms.errors.any? %>
      <div id="errors">
        <h2><%= pluralize(@fillable_forms.errors.count, "error") %> prevented this post from saving</h2>
      </div>
    <% end %>
    <p>
      <%= f.label :title %>
      <%= f.text_area :title %>
      <%= tinymce_assets %>
      <%= tinymce %>
      <%= f.label :body %><br>
      <%= f.text_area :body, class: "tinymce" %>
    </p>
    <p>
      <a id="tinymceSubmit"><%= f.submit %></a>
    </p>
  <% end %>
