<%# HTML5 shim or JavaScript code to work around HTML5 not working on older browsers and IE %>
<!--[if lt IE 9]>   <%# conditional comment supported by IE browsers for just this sort of situation %>
  <script src="//cdnjs.cloudfare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
