<!DOCTYPE html>   <%# Rails uses HTML5 by default %>
<html>
  <head>
    <title><%= yield(:title) %> | EduTech </title>  <%# This code is responsible for inserting the contents of each page into the layout %>
    <%= csrf_meta_tags %>   <%# Prevents cross-site request forgery, a type of malicious web attack %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>  <%# uses the built-in stylesheet_link_tag to include application.css for all media types (including computer screens and printers) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>  <%# inserting partials %>
  </head>
  <body>
      <%= render 'layouts/header' %>
      <div class="container">   <%# div tag divides the document into distinct parts, with a CSS class container %>
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: 'alert alert-#{message_tye}') %>
        <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>  <%# display some useful information about each page. Restricted to the development environment %>
    </div>
  </body>
</html>
